<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script
        async src="https://telegram.org/js/telegram-widget.js?22"
        data-telegram-login="Uni_Match_Bot"
        data-size="large"
        data-request-access="write"
        data-onauth="onTelegramAuth(user)"
></script>
<script type="text/javascript">
  function onTelegramAuth(user) {
      const extendedData = {
      ...user,
      email: "user_test@yandex.ru", // email из формы при регистрации. Пользователь уже должен быть создан.
    };

    fetch("https://2160-95-164-87-45.ngrok-free.app/users/api/tg-auth/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        {# Токен админа, хранить только в защищенном месте #}
        "Authorization": "Token b74fcf715b641e919ba2a7f9157c24d344dcf222"
      },
      body: JSON.stringify(extendedData)
    }).then(response => response.text())
      .then(data => {
        alert("Telegram привязан: " + data);
      }).catch(err => {
        alert("Ошибка привязки");
        console.error(err);
      });
  }
</script>

</body>
</html>